.mainPageProducts{
    display: flex;
    justify-content: space-around;
}
.mainPageSideProductsShow{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.mainPageAllProducts{
    display: flex;
    justify-content: space-around;
}
.mainPageMainProductsShow{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mainPageCardProduct{
    margin: 5%;
    border: none;
    
}
.mainPageCardProduct:hover{
    border: 1px solid black;
}

.mainPageMainProductPreview{
    width: 48px;
}
.mainPageBuyProductButton{
    background-color: black ; 
    border-color: white;
}
.mainPageBuyProductButton:hover{
    background-color: rgb(255, 255, 255) ; 
    border-color: rgb(0, 0, 0);
    color: black;
}
.mainPageSideProducts{
    background: gray;
}