.prodctPageDetails{
    display: flex;
    justify-content: center;
    align-self: center
}
.productMainSection{
    background-image: url('../../assets/Imgs/productBox.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 5% 1%;
    background-color: black;
    padding-bottom: 1%;
}
.productPageDetailsToBuy{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 2%;
    position: relative;
    top: 50%;
    background-color: white;
    border-radius: 8px;
    padding: 1%;
}

.productPageBuyButton{
    border: none;
    justify-content: center;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.productPageBuyButton:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.productPageGoBackButton{
    background:none;
    border: none;
    margin-right: 5%;
    display: flex;
    justify-content: start;
    padding: 2%;
}
.productPageTitleBack{
    display: flex;
    padding: 2%;
}
.productPageMainTitle{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.781);
    padding-top: 1%;
    margin-top: 5%;
    border-radius: 15px;
}
.productPageMainTitle:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white
    
}
.productPageImage{
    width: 150px;
    height: 380px;
}
.productPageCarouselImages{
    padding: 15%;
    width: 460px;
}
.productPageFooter{
    margin-top: 4%;
}